<div class="mt-4">
    <h3>
        Đăng video
    </h3>
    <form method="POST" action="/admin/store">
        <div class="form-group">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoId" class="form-label">video id</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="form-group">
            <label for="level" class="form-label">cấp độ</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary" style="margin-top: 16px;">Thêm video</button>
    </form>
</div>