<div class="mt-4">
    <div class="row first-row w-200">
        <div class="col-lg-3 ">
            <!-- Button đã được nhấn -->
            <!--<button type="button" class="btn btn-primary active shadow p-3 mb-4" style="margin-top: 16px;">Đã được nhấn</button></br> -->
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="custom-title"><a href="/admin" style="text-decoration: none; color: white;">Chức năng</a></h2>
                </div>
                <div class="col-lg-8 custom-container">
                    <!-- Nút Thêm dữ liệu -->
                    <a href="/admin/create" class="btn btn-primary custom-btn unpressed-btn"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="margin-right: 5px;">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg> 
                        Thêm dữ liệu
                    </a>
                    <!-- Nút Xóa dữ liệu -->
                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Xóa dữ liệu</a>
                    <!-- Nút Sửa dữ liệu -->
                    <a href="/admin/update" class="btn btn-primary custom-btn unpressed-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16" style="margin-right: 5px;">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                        </svg> 
                        Sửa dữ liệu
                    </a>
                    <!-- Nút Tìm kiếm dữ liệu -->
                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Tìm kiếm dữ liệu</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Biểu đồ</a>
                    
                    <a href="/admin/trashcan" class="btn btn-primary custom-btn unpressed-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="margin-right: 5px;">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg> 
                        Thùng rác ({{deletedCount}})
                    </a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                </div>
            </div>
        </div>
        <div class="col-lg-9 ">
            <h2>Contextual Classes</h2>
            <p>Contextual classes can be used to color the table, table rows or table cells. The classes that can be used are: .table-primary, .table-success, .table-info, .table-warning, .table-danger, .table-active, .table-secondary, .table-light and .table-dark:</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                </tr>      
                <tr class="table-primary">
                    <td>Primary</td>
                    <td>Joe</td>
                    <td>joe@example.com</td>
                </tr>
                <tr class="table-success">
                    <td>Success</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr class="table-danger">
                    <td>Danger</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr class="table-info">
                    <td>Info</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr class="table-warning">
                    <td>Warning</td>
                    <td>Refs</td>
                    <td>bo@example.com</td>
                </tr>
                <tr class="table-active">
                    <td>Active</td>
                    <td>Activeson</td>
                    <td>act@example.com</td>
                </tr>
                <tr class="table-secondary">
                    <td>Secondary</td>
                    <td>Secondson</td>
                    <td>sec@example.com</td>
                </tr>
                <tr class="table-light">
                    <td>Light</td>
                    <td>Angie</td>
                    <td>angie@example.com</td>
                </tr>
                <tr class="table-dark text-dark">
                    <td>Dark</td>
                    <td>Bo</td>
                    <td>bo@example.com</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
</div>