@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.custom-btn {
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
  /* Hiệu ứng bóng cho các nút */
  display: inline-block;
  /* Hiển thị trên cùng một dòng */
  min-width: 200px;
  /* Điều chỉnh kích thước để các nút có chiều dài bằng nhau */
  margin-bottom: 16px;
  /* Cách nhau 16px */ }

/* Định dạng cho nút đã được nhấn */
.pressed-btn {
  color: #fff;
  /* Màu chữ trắng */
  background-color: #006400;
  /* Màu nền xanh lá đen tối */
  border-color: #006400;
  /* Màu viền xanh lá đen tối */
  outline: none;
  /* Loại bỏ hiệu ứng nhấp nháy */
  pointer-events: none;
  /* Khóa nút */ }

/* Loại bỏ hiệu ứng hover cho nút đã được nhấn */
.pressed-btn:hover {
  color: #fff;
  /* Màu chữ trắng */
  background-color: #006400;
  /* Màu nền xanh lá đen tối */
  border-color: #006400;
  /* Màu viền xanh lá đen tối */ }

.custom-title {
  color: #fff;
  /* Màu chữ trắng */
  background-color: #ff0000;
  /* Màu nền đen */
  padding: 5px 10px;
  /* Khoảng cách giữa văn bản và biên ngoài */
  border: 2px solid #000;
  /* Khung viền đen */
  border-radius: 5px;
  /* Độ cong của các góc */
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  /* Hiệu ứng bóng đen */
  display: inline-block;
  /* Hiển thị trên cùng một dòng */ }

.custom-title-user {
  color: #fff;
  /* Màu chữ trắng */
  background-color: #55079f;
  /* Màu nền đen */
  padding: 5px 10px;
  /* Khoảng cách giữa văn bản và biên ngoài */
  border: 2px solid #000;
  /* Khung viền đen */
  border-radius: 5px;
  /* Độ cong của các góc */
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  /* Hiệu ứng bóng đen */
  display: inline-block;
  /* Hiển thị trên cùng một dòng */ }

.first-row {
  border: 2px solid #1800f4;
  /* Kẻ viền đen */
  padding: 10px;
  /* Khoảng cách nội dung và viền */
  margin-bottom: 20px;
  /* Khoảng cách giữa các hàng */
  border-radius: 5px;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.5); }

.vertical-line {
  background-color: #1800f4;
  /* Màu nền của đường kẻ */
  height: 100%;
  /* Chiều cao bằng 100% */
  margin: auto;
  /* Căn giữa theo chiều dọc */
  width: 6px;
  /* Độ dày của đường kẻ */
  border-radius: 3px;
  /* Bo tròn cả hai đầu của đường kẻ */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Thêm bóng đậm */ }

@media (min-width: 576px) {
  .expanded-search-input {
    width: 350px;
    /* Set width to 350px for devices wider than 576px */ } }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.logo-shop {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.arrow-button {
  display: inline-block;
  background-color: #007bff;
  /* Màu nền */
  color: white;
  /* Màu chữ */
  padding: 3px 14px;
  /* Kích thước nút */
  text-align: center;
  /* Canh giữa nội dung nút */
  text-decoration: none;
  /* Loại bỏ gạch chân */
  border: none;
  /* Loại bỏ viền */
  border-radius: 5px;
  /* Bo tròn viền */
  cursor: pointer;
  /* Hình dạng con trỏ khi di chuột */
  position: relative;
  /* Vị trí tương đối để chèn mũi tên */
  transition: background-color 0.3s;
  /* Hiệu ứng hover */ }

/* CSS để tạo mũi tên */
.arrow-button::before {
  content: '';
  position: absolute;
  left: 10%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  transform: translate(0, -50%); }

/* CSS để canh lề chữ "Trở về" */
.arrow-text {
  position: relative;
  top: -2px;
  margin-left: 10px; }

.delete-button {
  display: inline-block;
  background-color: #dc3545;
  /* Màu nền */
  color: white;
  /* Màu chữ */
  padding: 10px 20px;
  /* Kích thước nút */
  text-align: center;
  /* Canh giữa nội dung nút */
  text-decoration: none;
  /* Loại bỏ gạch chân */
  border: none;
  /* Loại bỏ viền */
  border-radius: 5px;
  /* Bo tròn viền */
  transition: background-color 0.3s;
  /* Hiệu ứng hover */
  cursor: pointer;
  /* Hình dạng con trỏ khi di chuột */ }

/* CSS cho hover */
.delete-button:hover {
  background-color: #c82333;
  /* Màu nền khi hover */ }

/* CSS cho hover chữ "Xóa" */
.delete-button:hover span {
  transform: translateY(-3px);
  /* Di chuyển chữ lên trên khi hover */ }

/* CSS cho chữ "Xóa" */
.delete-button span {
  transition: transform 0.3s;
  /* Hiệu ứng chuyển động */
  display: inline-block; }

.edit-button {
  display: inline-block;
  background-color: #4caf50;
  /* Màu nền xanh lá */
  color: #fff;
  /* Màu chữ trắng */
  padding: 10px 20px;
  /* Kích thước nút */
  text-align: center;
  /* Canh giữa nội dung nút */
  text-decoration: none;
  /* Loại bỏ gạch chân */
  border: none;
  /* Loại bỏ viền */
  border-radius: 5px;
  /* Bo tròn viền */
  transition: background-color 0.3s, color 0.3s;
  /* Hiệu ứng hover */
  cursor: pointer;
  /* Hình dạng con trỏ khi di chuột */ }

/* CSS cho hover */
.edit-button:hover {
  background-color: #2e7d32;
  /* Màu nền xanh lá sáng hơn khi hover */ }

/* CSS cho hover chữ "Sửa" */
.edit-button:hover span {
  transform: translateY(-3px);
  /* Di chuyển chữ lên trên khi hover */ }

/* CSS cho chữ "Sửa" */
.edit-button span {
  transition: transform 0.3s;
  /* Hiệu ứng chuyển động */
  display: inline-block; }

.custom-container {
  height: 550px;
  /* Chiều cao cố định của container */
  overflow-y: auto;
  /* Hiển thị thanh cuộn dọc khi nội dung vượt quá kích thước */ }

/* CSS cho các nút */
.custom-btn {
  display: block;
  margin-bottom: 10px; }

.checkbox-select-all-options {
  width: 180px;
  margin: 0 16px; }

.image-frame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  /* Khoảng cách giữa các hình ảnh */ }

.image-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Đảm bảo hình ảnh không bị méo */ }

.image-frame .grid-item {
  border: 2px solid black;
  /* Đường kẻ đen */ }

.input-number {
  display: flex;
  align-items: center;
  width: fit-content; }

.input-number__input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  width: 100px;
  /* Chiều rộng là 20px */ }

.carousel {
  height: 200px; }

/* Đặt kích thước cho ảnh trong carousel-item */
.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  /* Chiều cao tối đa của ảnh */
  object-fit: contain;
  /* Đảm bảo ảnh không bị méo và vừa vặn khung */ }

.card-course-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 16px;
  background-color: #ffffff9a;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; }

.card-course-item:hover {
  transform: scale(1.07);
  /* Hiệu ứng phóng to khi hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  /* Màu nền khi hover */ }

.card-course-item a {
  text-align: center;
  text-decoration: none;
  color: white; }

.card-course-item img {
  width: 100%;
  height: auto; }

.card-course-item .card-body {
  padding: 15px; }

.card-course-item .card-title {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #505050; }

.card-course-item .card-title:hover {
  color: #f7b03c;
  font-weight: bold;
  transition: color 0.3s;
  /* Thêm hiệu ứng transition */ }

.card-course-item .btn-primary {
  display: block;
  width: 100%; }

.card-course-item-combo {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 16px;
  background-color: #ffffff9a;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; }

.card-course-item-combo:hover {
  transform: scale(1.07);
  /* Hiệu ứng phóng to khi hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  /* Màu nền khi hover */ }

.card-course-item-combo a {
  text-align: center;
  text-decoration: none;
  color: white; }

.card-course-item-combo img {
  width: 100%;
  height: auto; }

.card-course-item-combo .card-body {
  padding: 15px; }

.card-course-item-combo .card-title {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #505050; }

.card-course-item-combo .card-title:hover {
  color: #f7b03c;
  font-weight: bold;
  transition: color 0.3s;
  /* Thêm hiệu ứng transition */ }

.card-course-item-combo .btn-primary {
  display: block;
  width: 100%; }

body {
  background-color: #ffffff;
  /* Màu sắc mới của nền (ví dụ: xám nhạt) */
  margin: 0;
  /* Loại bỏ margin mặc định của body */
  padding: 0;
  /* Loại bỏ padding mặc định của body */
  font-family: Arial, sans-serif; }

.thanh-menu {
  border-radius: 0 0 10px 10px; }

nav {
  background-color: #ffffff;
  color: #333;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }

nav a:hover {
  color: #32c5d2;
  background-color: #ddd; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

nav li {
  margin-right: 20px; }

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold; }

#menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer; }

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column; }
  nav li {
    margin: 0;
    text-align: center; }
  #menu-icon {
    display: block; } }

.user-section {
  display: flex;
  align-items: center; }

.user-section a {
  margin-left: 15px; }

.wallet {
  font-weight: bold;
  color: #505050; }

li {
  margin-left: 15px;
  /* Khoảng cách giữa các mục */ }

li:last-child {
  margin-left: auto; }

.custom-button {
  display: inline-block;
  /* Để có thể áp dụng chiều rộng và chiều cao cho nút */
  text-decoration: none;
  /* Loại bỏ gạch chân mặc định của thẻ a */ }

#button-card {
  background-color: #ffffff;
  color: #ff0000;
  border: 2px solid #ff0000;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; }

#button-card:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-color: #ffffff; }

#table-codeorder {
  border-collapse: collapse;
  width: 100%; }

#table-codeorder th, #table-codeorder td {
  border: 1px solid #ddd;
  /* Đường viền cho ô */
  padding: 8px;
  text-align: center; }

#table-codeorder th {
  background-color: #f0f0f0; }

#table-codeorder tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
  /* Đường viền dưới cho mỗi hàng trừ hàng cuối cùng */ }

#theDichVu .card:hover {
  transform: scale(1.09);
  /* Tăng kích thước lên 5% */
  transition: transform 0.2s ease-in-out;
  /* Thêm hiệu ứng chuyển động */ }

#theDichVu .card #tenTheDichVu {
  color: #3c3c3c;
  /* Màu ban đầu */
  font-weight: bold;
  /* Độ đậm */
  font-size: 17px;
  /* Kích thước font */ }

#theDichVu .card:hover #tenTheDichVu:hover {
  color: #f7b03c;
  /* Màu mới khi hover */ }

.btn2 {
  background: #4eabe6; }

.btn2-napthe {
  background: #4CAF50; }

.btn2:hover {
  background-color: #2196e0;
  border-color: #2196e0;
  color: #ffffff; }

/* CSS cho nút NẠP THẺ */
.btn2-napthe:hover {
  background-color: #449d48 !important;
  border-color: #449d48 !important;
  color: #ffffff; }

.c-product-meta {
  font-family: 'Arial', sans-serif; }

/* Thiết lập padding và margin cho c-content-divider */
.c-content-divider {
  margin: 20px 0;
  text-align: center; }

/* Icon cho c-content-divider */
.icon-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #333;
  /* Màu của icon */
  border-radius: 50%;
  /* Để tạo hình tròn */
  margin: 0 5px;
  /* Khoảng cách giữa các icon */ }

/* Thiết lập kiểu chữ và màu cho c-product-meta-label */
.c-product-meta-label {
  font-size: 18px;
  color: #333;
  /* Màu chữ */ }

/* Màu đỏ cho c-font-red */
.c-font-red {
  color: #e74c3c;
  /* Màu đỏ */ }

/* Tùy chỉnh c-product-variant */
.c-product-variant {
  margin-bottom: 10px;
  /* Khoảng cách giữa các cột */ }

/* Tạo cạnh viền cho c-product-variant */
.c-product-variant p {
  border-bottom: 1px solid #ddd;
  /* Tạo viền dưới cho mỗi hàng */
  padding-bottom: 5px;
  /* Khoảng cách giữa văn bản và viền dưới */ }

/* Tăng cường độ đậm và khoảng cách cho các phần đặc biệt */
.c-font-bold {
  font-weight: bold; }

.c-product-margin-1 {
  margin: 5px 0; }

/* Tùy chỉnh nổi bật */
.c-product-variant:last-child p {
  border-bottom: none;
  /* Loại bỏ viền dưới cho hàng cuối cùng */ }

/* Độ rộng cố định cho c-product-meta */
.c-product-meta {
  max-width: 100%;
  /* Điều chỉnh độ rộng tối đa */
  margin: 0 auto;
  /* Canh giữa nội dung */ }
