<div class="row" style="margin-top: 100px;background-color: #2a2929;">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3">
        <div class="row" style="color: #fdb603;margin-top: 10px;margin-bottom: 10px;">
            <h3 style="font-weight: bold;">
                VỀ <a style="font-weight: bold; color: #0b93a3;">SHOP NTĐ</a>
            </h3>
            <hr align="left" style="width: 95%; height: 7px; background-color: #fdb603; border: none;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;"/>
        </div>
        <div class="row" style="color: aliceblue;margin-top: 10px;margin-bottom: 10px;">
            <h6>
                Website bán code sự kiện web game Huyền Thoại Nhẫn Giả uy tín hàng đầu tại Việt Nam
            </h6>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row" style="color: #fdb603; margin-top: 10px;margin-bottom: 10px;">
            <h3 style="font-weight: bold;">
                VỀ CHÚNG TÔI
            </h3>
            <hr align="left" style="width: 95%; height: 7px; background-color: #fdb603; border: none;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;"/>
            
        </div>
        <div class="row" style="color: aliceblue;margin-top: 10px;margin-bottom: 10px;">
            <h6>
                Uy tín - Nhiệt Tình - Chuyên Nghiệp - Tư vấn tận tình
            </h6>
            
        </div>
        <div class="row" style="color: aliceblue;margin-top: 10px;margin-bottom: 10px;">
            <h6>
                Website được làm bởi <a href="#" style="text-decoration: none;">Nguyễn Tín Đạt</a>
            </h6>
            
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a href="#" style="text-decoration: none; font-size: larger;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" style="margin-top: 10px;margin-bottom: 10px;">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
        </svg> Fanpage Của Shop</a>
        </div>
        <div class="row" >
            <a href="#" style="text-decoration: none; font-size: larger;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" style="margin-top: 10px;margin-bottom: 10px;">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
        </svg> Chủ Shop</a>
        </div>
        <div class="row" >
            <a href="#" style="text-decoration: none; font-size: larger;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" style="margin-top: 10px;margin-bottom: 10px;">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
        </svg> Group Của shop</a>
        </div>
        <div class="row" style="color: aliceblue;margin-top: 10px;margin-bottom: 10px;">
            <h6>
                Bảo hành an toàn 100%
            </h6>
            
        </div>
    </div>
    <div class="col-lg-1">

    </div>
</div>
