<div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-image: url('https://shopgenshin24h.com/files/13/images/2023-11-30/z4928827101584_dc4a401b458f417a4ff24862eda5c9e5-bV.webp');">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t39.30808-6/425516618_418683110683640_3101430099334718654_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=9534ce&_nc_ohc=ViwrzNpy5McAX-M2NWA&_nc_ht=scontent.fsgn5-12.fna&oh=00_AfDV2b0oaxGOzsd8_tJg0h-Hh9oc9lNRJODRUE-p3vQOtA&oe=65E4E305" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/429501705_434242405794377_1918275033386312771_n.png?_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vnu_st1val4AX9Ig8pg&_nc_ht=scontent.fsgn5-13.fna&oh=00_AfDQsjFpYStt2zFFqAtWyjwmNluIcR4aHEJRQLeHqB94iw&oe=65E59237" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-6/416355932_400314482520503_7038726285360712679_n.png?stp=dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=9534ce&_nc_ohc=tqrIZzv78UgAX8IR-lS&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfBGQQuD0MbHjPo-N2QM41t-GW2WsnF7ejzoMH-_rfmn-g&oe=65E4B23C" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/408039187_379130031305615_6704043871796240943_n.png?stp=dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=9534ce&_nc_ohc=G4bHiPpCsb0AX-SXbRn&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfCTJwDFgpch8Ouvda1yy9svtNQrzPQvX1rYC69ckg_wTA&oe=65E64701" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/412468185_387698920448726_2787330320968456752_n.png?stp=dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=9534ce&_nc_ohc=9ZUbizAEDJYAX-MdnKj&_nc_ht=scontent.fsgn5-13.fna&oh=00_AfAzcAE67ejS_fcpJuyVp-sp1B502Avyv-A8cRk4eg84bA&oe=65E4D1D2" class="d-block w-100" alt="Slide 2">
    </div>
    <!-- Add more slides as needed -->
  </div>

  <!-- Nút điều khiển lướt qua -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    <span class="sr-only" style="color: rgb(255, 255, 255);">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    
    <span class="sr-only" style="color: rgb(255, 255, 255);">Next</span>
    <span class="carousel-control-next-icon" aria-hidden="true" ></span>
  </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  // Kích thước mảng các ảnh
  var numberOfSlides = $('.carousel-item').length;
  var currentIndex = 0;

  // Hàm chuyển slide tự động sau mỗi 2 giây
  function autoSlide() {
    $('#myCarousel').carousel('next');
  }

  // Đặt thời gian tự động lướt qua
  setInterval(autoSlide, 2500);

  // Bắt sự kiện khi nút lướt qua được bấm
  $('.carousel-control-next').click(function() {
    currentIndex = (currentIndex + 1) % numberOfSlides;
  });

  $('.carousel-control-prev').click(function() {
    currentIndex = (currentIndex - 1 + numberOfSlides) % numberOfSlides;
  });

  // Bắt sự kiện khi chuyển slide bằng touch (chạm)
  $('#myCarousel').on('touchstart', function(event) {
    var x1 = event.originalEvent.touches[0].pageX;
    $(this).one('touchmove', function(event) {
      var x2 = event.originalEvent.touches[0].pageX;
      if (x1 > x2) {
        currentIndex = (currentIndex + 1) % numberOfSlides;
      } else {
        currentIndex = (currentIndex - 1 + numberOfSlides) % numberOfSlides;
      }
    });
  });
</script>