<div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-image: url('https://shopgenshin24h.com/files/13/images/2023-11-30/z4928827101584_dc4a401b458f417a4ff24862eda5c9e5-bV.webp');">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/429501705_434242405794377_1918275033386312771_n.png?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=lBTpKp-k91QAX84If2s&_nc_ht=scontent.fsgn5-13.fna&oh=00_AfA5CbytsJ1MHHSKoIGIlLp3VwYu3ne7ojVOtV_STb3l3g&oe=65FD4D37" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t39.30808-6/425516618_418683110683640_3101430099334718654_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=lmZ_Mb61yeAAX_EzTM0&_nc_oc=AQkO05no-AThdAMnuYof6CH5Bza_gX1_mm8-3pFYwR2QKH0HCAsNxS5_eh9fMlWimHC85ASArf-6FK2L09ZSSw1x&_nc_ht=scontent.fsgn5-12.fna&oh=00_AfDis-MQDm8sS4_HfCAIHsuk51aX3gt1zQOpOiHz161apw&oe=65FC9E05" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-6/416355932_400314482520503_7038726285360712679_n.png?stp=dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=voVKoFkAeFIAX9sDTv6&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfAQ_8QvfbGQQidjJ7fO30u_WY-DJJKCl1-R51Tq0MSu2g&oe=65FC6D3C" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/412468185_387698920448726_2787330320968456752_n.png?stp=dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=4LUO4DVRLv4AX-3cDqJ&_nc_ht=scontent.fsgn5-13.fna&oh=00_AfDBKLY_toBd_e-4mgERSIR1Fhl8y0YNanhrbEbvYXgDHQ&oe=65FC8CD2" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/408039187_379130031305615_6704043871796240943_n.png?stp=dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=O6Gc6FgjLU0AX_bsQ2e&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfDqWQs2yJqQMK-gF1UNr8eyoTG4LIaE850P6AzrZ7jTAw&oe=65FC07C1" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/399591611_363266342891984_7991646046875407806_n.png?stp=dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=whxGWZC0eDUAX-N6fGd&_nc_ht=scontent.fsgn5-6.fna&oh=00_AfD_0av2KwkvkUFaDDhCl75kG9E1BANNy7jyIQk45_gdVw&oe=65FD4F5A" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-6/393296314_351229054095713_1442354729099214418_n.png?stp=dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=syfync4SZ3wAX_KTl_6&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfC5_Eh2xJPIl-jQmridopxJcq-fRiJygwMZZuAjPRyE1w&oe=65FBFC34" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t39.30808-6/382319077_338632622022023_4254765337742851524_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Skg_RX8PAGcAX9cd5Ld&_nc_ht=scontent.fsgn5-12.fna&oh=00_AfC5It43d-84jdR3JDmMNYvSPPslDdvD4JlZ2Wql5SjJoA&oe=65FBF33C" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/375740010_326491379902814_8600532707067655148_n.png?stp=dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Yeaq0G3vLN4AX8M-XWT&_nc_ht=scontent.fsgn5-6.fna&oh=00_AfBx5j9tNMCvPDmZs1bFm7v7f2EuM0znJlEs7kc6WadOvA&oe=65FD0592" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/368206931_315449857673633_8900973223833725528_n.png?stp=dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=j9WMx-H_ogoAX9QL2bn&_nc_ht=scontent.fsgn5-6.fna&oh=00_AfAws6fJwUteDkVABcKFcGwhv9Md4XGysTX9Ywxw8ECbig&oe=65FD9825" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/360102175_300691929149426_4130041373424243207_n.png?stp=dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=7j40U6BwAP4AX8AiCeI&_nc_ht=scontent.fsgn5-5.fna&oh=00_AfDDZ-NkB7mTkUpdgw9OBUIStALk3Gy4Y7Bqq3iIdjRHHw&oe=65FCE483" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/356868929_288584513693501_2006437792630585659_n.png?stp=dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jNCML9kUqgkAX-PWTH6&_nc_ht=scontent.fsgn5-6.fna&oh=00_AfCGuYVGBwCFtN4qBnms1R9SphGbAc4gn2p3-pKGrWFa7w&oe=65FCB5BD" class="d-block w-100" alt="Slide 2">
    </div>
    <!-- Add more slides as needed -->
  </div>

  <!-- Nút điều khiển lướt qua -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    <span class="sr-only" style="color: rgb(255, 255, 255);">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    
    <span class="sr-only" style="color: rgb(255, 255, 255);">Next</span>
    <span class="carousel-control-next-icon" aria-hidden="true" ></span>
  </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  // Kích thước mảng các ảnh
  var numberOfSlides = $('.carousel-item').length;
  var currentIndex = 0;

  // Hàm chuyển slide tự động sau mỗi 2 giây
  function autoSlide() {
    $('#myCarousel').carousel('next');
  }

  // Đặt thời gian tự động lướt qua
  setInterval(autoSlide, 2500);

  // Bắt sự kiện khi nút lướt qua được bấm
  $('.carousel-control-next').click(function() {
    currentIndex = (currentIndex + 1) % numberOfSlides;
  });

  $('.carousel-control-prev').click(function() {
    currentIndex = (currentIndex - 1 + numberOfSlides) % numberOfSlides;
  });

  // Bắt sự kiện khi chuyển slide bằng touch (chạm)
  $('#myCarousel').on('touchstart', function(event) {
    var x1 = event.originalEvent.touches[0].pageX;
    $(this).one('touchmove', function(event) {
      var x2 = event.originalEvent.touches[0].pageX;
      if (x1 > x2) {
        currentIndex = (currentIndex + 1) % numberOfSlides;
      } else {
        currentIndex = (currentIndex - 1 + numberOfSlides) % numberOfSlides;
      }
    });
  });
</script>