<nav id="myNavbar">
    <span id="menu-icon">&#9776;</span>
    <ul>
        <li><img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-1/243982552_282193343596263_6043245316263749024_n.png?stp=cp0_dst-png_p40x40&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=xVPdq3F2SjoAX-AQ8kX&_nc_ht=scontent.fsgn5-13.fna&oh=00_AfBK7_KtajbD7LwJxPPhke-J04xNmNL09-p4x4wetNhgfw&oe=65FD3935" class="logo-shop"></li>
        <li style="margin-left: 400px;"><a href="/home">TRANG CHỦ</a></li>
        <li style="margin-left: 100px;"><a href="/user/addfunds">NẠP TIỀN</a></li>
        <li style="margin-left: 100px;"><a href="/dich-vu">DỊCH VỤ GAME</a></li>
        <li style="margin-left: 100px;"><a href="#">NICK GAME</a></li>
        <li style="margin-left: 100px;"><a href="#">KHÁC</a></li>
        <li class="user-section" style="margin-left: auto;">
        <a class="nav-link wallet" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight:bold;color: white; background-color: #ed145b; border: 7px solid #ed145b;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16" style="margin-right: 5px;">
                        <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                {{userInfo.coin}} VNĐ
                </a>
            <a class="nav-link dropdown-toggle user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{userInfo.image}}" class="user-avatar">
                {{userInfo.username}}
            </a>
            <ul class="dropdown-menu">
                
                <li><a class="dropdown-item" href="/logout" >Đăng xuất</a></li>
            </ul>
            
                
            
        </li>
        
    </ul>
</nav>
<div class="col-md-12" style="margin-top: 50px;">
    <h4 style="text-align: center;color: #19b1ff;">ĐỔI MẬT KHẨU</h4>
        <div style="width: 100px; height: 1px; margin: 20px auto; border-bottom: 4px solid #19b1ff;"></div>
    <div class="container">
    <div class="row ">
        <form id="frmchangepassword" > 
            <section id="dv" class="countdown groomsmen-bridesmaids">
                <div class="col-md-6 col-md-offset-2 mx-auto" style="padding-bottom: 45px;">
                    <div class="col-md-12 has-textbox">
                        <div class="form-group row">
                            <spam class="col-md-4 control-label bb ar" style="font-weight: bold;">Mật khẩu cũ: </spam>
                                <div class="col-md-8">
                                <input type="password" id="oldpassword" name="oldpassword" class="form-control t14" placeholder="" value="">
                            </div>
                        </div>
                    </div>
                <div class="col-md-12 has-textbox" style="margin-top: 20px;">
                    <div class="form-group row">
                        <spam class="col-md-4 control-label bb ar" style="font-weight: bold;">Mật khẩu mới: </spam>
                            <div class="col-md-8">
                                <input type="password" id="newpassword" name="newpassword" class="form-control t14" placeholder="" value="">
                            </div>
                        </div>
                    </div>
                <div class="col-md-12 has-textbox" style="margin-top: 20px;">
                    <div class="form-group row">
                        <spam class="col-md-4 control-label bb ar" style="font-weight: bold;">Nhập lại mật khẩu mới: </spam>
                            <div class="col-md-8">
                                <input type="password" name="confirmpassword" class="form-control t14" placeholder="" value="">
                            </div>
                    </div>
                </div>
                <div class="col-md-12 has-textbox" style="margin-top: 20px;">
                    <div class="form-group row">
                        <spam class="col-md-4 control-label bb ar"></spam>
                            <div class="col-md-8">
                                <button type="button" id="btnChangePassword" class="btn btn-info col-xs-12" style="font-weight: bold; color: white;">Đổi mật khẩu</button>
                            </div>
                    </div>
                </div>

                </div>
            </section>
        </form>
    </div>
</div>
</div>

<script>
    document.getElementById('btnChangePassword').addEventListener('click', function () {
        // Lấy giá trị từ input
        const oldPassword = document.getElementById('oldpassword').value;
        const newPassword = document.getElementById('newpassword').value;
        const confirmPassword = document.getElementsByName('confirmpassword')[0].value;

        // Kiểm tra điều kiện
        if (oldPassword.trim() === '' || newPassword.trim() === '' || confirmPassword.trim() === '') {
            Swal.fire({
                    title: "Không được để trống dòng nào.",
                    //text: response.message,
                    icon: "warning"
            });
            
            //alert('Không được để trống bất kỳ trường nào.');
            return;
        }

        if (newPassword.length < 8) {
            Swal.fire({
                    title: "Mật khẩu mới phải ít nhất 8 ký tự.",
                    //text: response.message,
                    icon: "warning"
            });
            //alert('Mật khẩu mới phải ít nhất 8 ký tự.');
            return;
        }

        if (newPassword !== confirmPassword) {
            Swal.fire({
                    title: "Mật khẩu mới không giống nhau.",
                    //text: response.message,
                    icon: "error"
            });
            
            return;
        }

        // Nếu tất cả điều kiện đều đúng, có thể thực hiện đổi mật khẩu ở đây
        // Gửi dữ liệu đến server hoặc thực hiện các thao tác cần thiết
        const userId = "{{userInfo._id}}";

        $.ajax({
            type: 'POST',
            url: `/home/${userId}/changepassword?_method=PATCH`,
            data: {
                oldPassword: oldPassword,
                newPassword: newPassword
            },
            success: function(response) {
                // Xử lý kết quả từ server
                //console.log('Dữ liệu đã được gửi thành công');
                //console.log('Server response:', response);

                // Hiển thị thông báo trên trang web (ví dụ)
                if(response.message == "Đổi mật khẩu thành công"){
                    Swal.fire({
                    title: response.message,
                    //text: response.message,s
                    icon: "success"
                    });
                }else{
                    Swal.fire({
                    title: response.message,
                    //text: response.message,
                    icon: "error"
                    });
                }
                //alert(response.message);
            },
            error: function(error) {
                console.error('Lỗi khi gửi dữ liệu: ', error);
            }
        });
    });
</script>